html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5eee3;
  font-family: sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.ministry-graph-container {
  margin: 1rem auto;
  width: max-content;

  /* --graph-width: 1200px; */
  --graph-width: clamp(16rem, 80vw, 70rem);
  --title-size: clamp(1.25rem, 2vw, 2rem);
  --background-color: #FFF;
  --background-color-transparent: #FFFFFF88;
  --accent-color: #2c3e50;
}

.ministry-graph-container .title-container {
  background-color: var(--background-color);
  max-width: var(--graph-width);
}

.ministry-graph-container .title-container h1 {
  text-align: center;
  font-size: var(--title-size);
  margin: 0 1rem;
}

.ministry-graph-container .range-container {
  display: flex;
}

.ministry-graph-container .range-container input[type="range"] {
  width: var(--graph-width);
  margin: 0 auto;
}

.ministry-graph-container .graph-type-container {
  display: flex;
  gap: .5rem;
}

.ministry-graph-container .graph-type-container button {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: .5rem .5rem 0 0;
  background-color: var(--background-color-transparent);
}

.ministry-graph-container .graph-type-container button.active {
  background-color: var(--background-color);
}


.ministry-graph-container .graph-body {
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  box-sizing: border-box;

}

.ministry-graph-container .graph-row {
  display: flex;
}

.ministry-graph-container .graph-row .graph-slider {
  width: var(--graph-width);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.ministry-graph-container .graph-row .graph-slider .slider-body {
  width: var(--graph-width);
  aspect-ratio: 2;
  overflow-y: auto;
  box-sizing: border-box;
}

.ministry-graph-container .graph-row .graph-slider .slider-body h2 {
  text-align: center;
}

.ministry-graph-container .graph-row .graph-slider .slider-body .graph-container {
  width: 100%;
  aspect-ratio: 2.5;
  overflow-y: auto;
  box-sizing: border-box;
}

.ministry-graph-container .graph-row .graph-slider .slider-body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.ministry-graph-container .graph-row .graph-slider .slider-body::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #0000000F;
  box-shadow: 0 0 4px #00000033 inset;
}

/* Handle */
.ministry-graph-container .graph-row .graph-slider .slider-body::-webkit-scrollbar-thumb {
  background: #95a5a6;
  border-radius: 5px;
}

/* Handle on hover */
.ministry-graph-container .graph-row .graph-slider .slider-body::-webkit-scrollbar-thumb:hover {
  background: #bdc3c7;
}


.ministry-graph-container .graph-row .graph-slider .slider-body table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  position: relative;
}

.ministry-graph-container .graph-row .graph-slider .slider-body table thead {
  background-color: var(--accent-color);
  font-size: 1.2rem;
  color: white;
  position: sticky;
  top: 0;
}

.ministry-graph-container .graph-row .graph-slider .slider-body table thead th {
  padding: .5rem;
}

.ministry-graph-container .graph-row .graph-slider .slider-body table td {
  padding: .5rem;
}

.ministry-graph-container .graph-row .graph-slider .slider-body table tr:nth-of-type(odd) {
  background-color: #ecf0f1;
}




@media screen and (max-width: 768px) {
  .ministry-graph-container .graph-row button {
    display: none;
    visibility: hidden;
  }

  .ministry-graph-container .graph-row .graph-slider .slider-body .graph-container {
    aspect-ratio: 1;
  }

  .ministry-graph-container .graph-row .graph-slider .slider-body.graph {
    overflow-y: visible;
  }
}












/* double slider css */
.range-container {
  width: 100%;
  margin: 0 auto;

  --height: 1.5em;
  height: var(--height);

  display: grid;
  place-items: center;
}

.range-container .wrapper {
  position: relative;
  width: 100%;
  background-color: #00000022;
  border-radius: 4px;
}

.range-container .wrapper .slider-track {
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 100%)
}

.range-container .wrapper input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--height);
  width: var(--height);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: var(--height);
  width: var(--height);
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--accent-color);
  pointer-events: auto;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  height: var(--height);
  width: var(--height);
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--accent-color);
  pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid var(--accent-color);
}